:root{
    --pri:#44A194;
    --sec:orange;
    --tri:#EC8F8D;
}

/* FONTS */

@font-face{
    font-family: "bold";
    src:url(./Aeonik-Bold.ttf);
}

@font-face{
    font-family: "light";
    src:url(./Aeonik-Light.ttf);
}

@font-face{
    font-family: "regular";
    src:url(./Aeonik-Regular.ttf);
}
body{
    height: 100%;
    width: 100%;
}
#main{
min-height: 100vh;
background-color: var(--sec);
}
/* RESET */

*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: aeonik;
    color: pr;

}

/* NAVBAR */

nav{
    position: fixed;
    width:100%;
    height:60px;
    background-color: var(--tri);
    display:flex;
    align-items:center;
    padding-left:20px;
    font-family: bold;
    color:white;
}
section.allElems{
    height:100%;
    width: 100%;
    padding:40px;
    padding-top:60PX;
    display:flex;
 flex-wrap: wrap;
 align-items: flex-start;
 gap:20px;
}
.elemn{
background-color:var(--pri);
padding: 30px 40px;
border-radius: 20px;
}