body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.quiz-box {
    background: white;
    padding: 20px;
    width: 400px;
    border-radius: 30px;
    text-align: center;
    transition: 1.2s;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}