body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.weatherform {
    margin: 20px;

}

.cityInput {
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid black;

}

button[type="submit"] {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: hsl(122, 39%, 50%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    height: 200px;
}

.card {
    background: linear-gradient(180deg, hsl(210, 100%, 75%), orange);
    padding: 10px 30px;
}