*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;

}
 header{
    background:#44A194;
    color: white;
    padding: 20px;
    text-align: center;
 }
 /* flex container */

 .container{
    display: flex;
    min-height: calc(100vh-80px);
 }
 .sidebar{
    width: 220px;
    background:#EC8F8D;
    padding: 20px;

 }
 .sidebar ul{
    list-style: none;
    margin-top: 15px;

 }
  .sidebar li{
margin-bottom: 10px;
    
 }
 .sidebar a{
    text-decoration: none;
    color: white;
    font-weight: bold;
 }
 .content{
    flex:1;
    background: #F4F0E4;
    padding: 30px;

 }