body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: center;
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
}

.random h2 {
    color: peru;
}

.container {
    background-color: white;
    padding: 20px;
    margin: 50px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

button {
    padding: 10px 15px;
    border: none;
    background: teal;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}