body {
    margin-top: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #ffff;
    display: flex;
    justify-content: center;
}

.flash-box {
    background: white;
    padding: 20px;
    width: 400px;
    border-radius: 30px;
    text-align: center;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}